<div class="row mt-50">
  <div class="col setting-actions justify-content-between d-flex h-70 align-items-center">
    <h2 class="text-cyan m-0">Hi, I'm Abhishek</h2>
    <div>
      <button class="btn-add ml-4" (click)="openProfile()" target="_blank"><i class="fa fa-user"></i>About me</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table_wrapper my-5 mx-3 search-centre about-me">
      I'm Entrepreneur by heart and a developer by profession. I enjoy turning complex problems into simple, beautiful,
      and interactive solutions.<br />
      I have worked across various Web applications, Native web apps(PWA), mobile apps. And love to take an idea through
      design iterations and code it up for others to enjoy, solving some complex web problems along the way. My aim to
      bring across your company message and identity in the most creative way and love to take an idea from scratch and
      build the solution around it to bring the best for both customers and stakeholders.
      <br />
      Hope you enjoy this !! :)
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table_wrapper my-5 mx-3 search-centre">
      <h1>Problem Statement</h1>
      <div class="about-me">
        a) Build a single page HTML5 web application, preferably on Angular 10<br />
        b) Use a mock backend with Angular service or <del>build a backend with NodeJS.</del><br />
        c) Home page should have a search box where user can search for the product names. User should be shown an Auto
        Suggestion based on what user types in the search box.<br />
        d) When user hits the enter button show the correct product details below. User should be able to edit the
        product name and selling price only<br />
        e) Product details will be ID, product name, cost per unit, selling price per unit and no of units available<br />
        f) User will be able to edit product name, and selling price only rest of the fields are uneditable. On Hitting
        enter in the input field data should be saved<br />
        g) Validation: Product name should be alphanumeric character and selling price is numeric and cannot be less
        than the cost price h) The re should be another tab on the home screen called “EDIT”.<br />
        <span
          >In order to avoid memery leak and considering design iteration, I have added it as add product button at the
          top right corner.</span
        ><br />
        i) User should be able to add new products from this screen<br />
        j) <del>Mongodb is preferred as the database in case built with NodeJS backend </del>( good to have ) <br />
        <span
          ><a href="https://trello.com/b/tVvI10lz/nodejs" target="_blank">Currently in a learning phase of NodeJs</a>,
          will soon add to to my tech stack.</span
        >
      </div>
    </div>
  </div>
</div>
